In [1]:
from __future__ import division, print_function, absolute_import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

In [2]:
ethnea_df = pd.read_csv('names_ethnea_genni_country_sample.csv')
ethnea_df

,AUID,Last,First,Ethnea,Genni,PubCountry
0,12872768_1,_Filho_,_Elias_Abdalla_,HISPANIC,M,Brazil
1,12565879_3,_Bou_Abdallah_,_Jad_,ARAB,M,France
2,17569133_1,_Abdel_Aziz_,_Ayman_,ARAB,M,USA
3,11213157_2,_Abdelmoula_,_Salma_,ARAB,F,Tunisia
4,11439058_1,_Abdou_,_Ibrahim_,ARAB,M,Egypt
5,10919608_3,_Abou_El_Fettouh_,_Hazem_,ARAB,M,USA
6,17314740_3,_Aboutaam_,_Rola_,ARAB,F,France
7,16564217_2,_Alvim_de_Abreu_Silva_Rodrigues_,_Aida_Alexandra_,HISPANIC,F,Brazil
8,6339395_2,_Cristina_Affonso_Scaletsky_,_Isabel_,HISPANIC,F,Brazil
9,7796089_2,_Agbenyega_,_Tsiri_,AFRICAN,-,Ghana
10,5473023_2,_Maria_Aguado_Garcia_,_Jose_,HISPANIC,M,Spain
11,15153355_4,_Aguilar_Guisado_,_Manuela_,HISPANIC,F,Spain
12,11981185_4,_Aguillon_Luna_,_Arturo_,HISPANIC,M,USA
13,12554913_2,_Ahmadzadeh_,_Ali_,ARAB,M,Iran
14,10066026_5,_Ibrahim_,_Ahmed_,ARAB,M,UnitedArabEmirates
15,17642770_2,_Letaief_,_Ahmed_,ARAB,M,Tunisia
16,14766995_2,_Shakeel_Ahmed_,_Mohammed_,ARAB,M,USA
17,16343417_1,_Aksoy_Dogan_,_Alev_,TURKISH,F,Turkey
18,3866040_3,_Nakatsukasa_Akune_,_Mitsumi_,JAPANESE,-,Japan
19,12663244_3,_Akyuz_,_Filiz_,TURKISH,F,Turkey
20,2830628_1,_Al_Gohary_,_Omaimah_,ARAB,F,SaudiArabia
21,12113661_3,_Al_Jedah_,_Jassim_,ARAB,M,Qatar
22,3104205_7,_Al_Khatib_,_Shadi_,ARAB,-,India
23,7520609_3,_Al_Najjar_,_Azmi_,ARAB,M,France
24,927746_1,_Alba_Conejo_,_Emilio_,HISPANIC,M,Spain
25,18451155_4,_Llaguno_,_Sheila_Alcantara_,HISPANIC,F,USA
26,9431676_4,_Alcocer_,_Marcos_,HISPANIC,M,UK
27,3720520_1,_Grazia_Alessandri_,_Maria_,ITALIAN,F,Italy
28,10480445_2,_Ali_Labib_,_Randa_,ARAB,F,Egypt
29,12636048_1,_Allie_Hamdulay_,_Shameez_,AFRICAN,-,SouthAfrica
...,...,...,...,...,...,...
44537,12641914_1,_Liu_,_Zhihong_,CHINESE,-,China
44538,16892144_4,_Liu_,_Zhen_ying_,CHINESE,-,China
44539,15566960_5,_Liu_,_Zhu_,CHINESE,-,China
44540,12828461_3,_Liu_,_Zhengjie_,CHINESE,-,USA
44541,12726928_3,_Liu_,_Zhengchun_,CHINESE,-,China
44542,17802886_5,_Liu_,_Ziliang_,CHINESE,-,China
44543,18032929_3,_Liu_,_Zhe_,CHINESE,-,China
44544,16690641_1,_Liu_,_Zulian_,CHINESE,-,UK
44545,17554931_2,_Liu_,_Zun_chun_,CHINESE,-,China
44546,18975769_5,_Liu_,_Ze_zhou_,CHINESE,-,China
44547,19458823_2,_Liu_,_Zhaochun_,CHINESE,-,China
44548,8734067_3,_Liu_,_ziying_,CHINESE,M,USA
44549,9706530_4,_Liu_,_zhenyu_,CHINESE,M,China
44550,6068528_4,_Tanaka_,_kenzo_,JAPANESE,M,Japan
44551,180046_3,_Tanaka_,_kimiko_,JAPANESE,F,USA
44552,1942669_3,_Tanaka_,_kazuhiro_,JAPANESE,M,Japan
44553,9571188_3,_Tanaka_,_koji_,JAPANESE,M,Japan
44554,11071249_4,_Tanaka_,_Kousei_,JAPANESE,M,Japan
44555,12828613_4,_Tanaka_,_Kyoko_,JAPANESE,F,Japan
44556,19073144_1,_Tanaka_,_Kenji_,JAPANESE,M,Japan
44557,8449402_2,_Tanaka_,_keiji_,JAPANESE,M,Japan
44558,10671491_5,_Tanaka_,_keiji_,JAPANESE,M,Japan
44559,18283803_5,_Tanaka_,_Kei_,JAPANESE,-,Japan
44560,8913105_4,_Tanaka_,_kiyoshi_,JAPANESE,M,Japan
44561,6678271_2,_Sasaki_,_takashi_,JAPANESE,M,Japan
44562,3097163_3,_Sasaki_,_toyoshi_,JAPANESE,M,Japan
44563,3800425_1,_Sasaki_,_tetsuo_,JAPANESE,M,Japan
44564,9714755_2,_Sasaki_,_takayo_,JAPANESE,F,Japan
44565,7880090_2,_Haddad_,_may_,ARAB,-,SaudiArabia
44566,16865091_1,_Haddad_,_Marianne_,FRENCH,F,France

In [3]:
# First thing first, use the character feature for making the dnn model
def extract_structure(word,n_char=2):
    x_struct = []
    word_len = len(word) + n_char
    n_char-=1
    counter = 0
    for i in range(word_len):
        end = i+1
        start = (i - n_char) if (i - n_char) > 0 else 0
        if word[start:end]!='_' and word[start:end]!='':
        #if word[start:end]!='_':
            x_struct.append(word[start:end])
    return x_struct

first_name_struct = ethnea_df.First.apply(lambda x: extract_structure(x.lower(),2))
last_name_struct = ethnea_df.Last.apply(lambda x: extract_structure(x.lower(),2))

In [4]:
first_name_struct

0        [_e, el, li, ia, as, s_, _a, ab, bd, da, al, l...
1                                         [_j, ja, ad, d_]
2                                 [_a, ay, ym, ma, an, n_]
3                                 [_s, sa, al, lm, ma, a_]
4                         [_i, ib, br, ra, ah, hi, im, m_]
5                                 [_h, ha, az, ze, em, m_]
6                                     [_r, ro, ol, la, a_]
7        [_a, ai, id, da, a_, _a, al, le, ex, xa, an, n...
8                             [_i, is, sa, ab, be, el, l_]
9                                 [_t, ts, si, ir, ri, i_]
10                                    [_j, jo, os, se, e_]
11                        [_m, ma, an, nu, ue, el, la, a_]
12                            [_a, ar, rt, tu, ur, ro, o_]
13                                        [_a, al, li, i_]
14                                [_a, ah, hm, me, ed, d_]
15                                [_a, ah, hm, me, ed, d_]
16                    [_m, mo, oh, ha, am, mm, me, ed, d_]
17                                    [_a, al, le, ev, v_]
18                        [_m, mi, it, ts, su, um, mi, i_]
19                                [_f, fi, il, li, iz, z_]
20                        [_o, om, ma, ai, im, ma, ah, h_]
21                            [_j, ja, as, ss, si, im, m_]
22                                [_s, sh, ha, ad, di, i_]
23                                    [_a, az, zm, mi, i_]
24                            [_e, em, mi, il, li, io, o_]
25       [_s, sh, he, ei, il, la, a_, _a, al, lc, ca, a...
26                            [_m, ma, ar, rc, co, os, s_]
27                                [_m, ma, ar, ri, ia, a_]
28                                [_r, ra, an, nd, da, a_]
29                        [_s, sh, ha, am, me, ee, ez, z_]
                               ...
44537                     [_z, zh, hi, ih, ho, on, ng, g_]
44538             [_z, zh, he, en, n_, _y, yi, in, ng, g_]
44539                                     [_z, zh, hu, u_]
44540                 [_z, zh, he, en, ng, gj, ji, ie, e_]
44541             [_z, zh, he, en, ng, gc, ch, hu, un, n_]
44542                     [_z, zi, il, li, ia, an, ng, g_]
44543                                     [_z, zh, he, e_]
44544                         [_z, zu, ul, li, ia, an, n_]
44545                 [_z, zu, un, n_, _c, ch, hu, un, n_]
44546                     [_z, ze, e_, _z, zh, ho, ou, u_]
44547                 [_z, zh, ha, ao, oc, ch, hu, un, n_]
44548                         [_z, zi, iy, yi, in, ng, g_]
44549                         [_z, zh, he, en, ny, yu, u_]
44550                             [_k, ke, en, nz, zo, o_]
44551                         [_k, ki, im, mi, ik, ko, o_]
44552                 [_k, ka, az, zu, uh, hi, ir, ro, o_]
44553                                 [_k, ko, oj, ji, i_]
44554                         [_k, ko, ou, us, se, ei, i_]
44555                             [_k, ky, yo, ok, ko, o_]
44556                             [_k, ke, en, nj, ji, i_]
44557                             [_k, ke, ei, ij, ji, i_]
44558                             [_k, ke, ei, ij, ji, i_]
44559                                     [_k, ke, ei, i_]
44560                     [_k, ki, iy, yo, os, sh, hi, i_]
44561                     [_t, ta, ak, ka, as, sh, hi, i_]
44562                     [_t, to, oy, yo, os, sh, hi, i_]
44563                         [_t, te, et, ts, su, uo, o_]
44564                         [_t, ta, ak, ka, ay, yo, o_]
44565                                     [_m, ma, ay, y_]
44566                 [_m, ma, ar, ri, ia, an, nn, ne, e_]
Name: First, Length: 44567, dtype: object

In [5]:
# make struct dictionary
struct_dict = {}
for name_struct_i in first_name_struct:
    for struct_j in name_struct_i:
        if struct_j not in struct_dict:
            struct_dict[struct_j]=0
        struct_dict[struct_j]+=1
for name_struct_i in last_name_struct:
    for struct_j in name_struct_i:
        if struct_j not in struct_dict:
            struct_dict[struct_j]=0
        struct_dict[struct_j]+=1

In [6]:
struct_dict_keys = list(struct_dict.keys())
ethnic_series = ethnea_df['Ethnea'].str.lower()
ethnic_keys = list(np.unique(ethnic_series.values))

In [7]:
# load test train data
with open('train_test_fix_index.pickle', 'rb') as f:
    trainIndex,testIndex,trainX,trainY,testX,testY,ethnic_keys,tmp = pickle.load(f)

In [8]:
# transform the dataset into structure
def transform_structure(name_struct):
    list_structure = []
    for x in name_struct:
        try:
            list_structure.append(struct_dict_keys.index(x)+1)
        except BaseException:
            list_structure.append(0)
    #add pading 0 for structure less than num_input
    #for i in range(len(list_structure),timesteps):
    #    list_structure.append(0)
    return list_structure   
    #return [*map(lambda x:struct_dict_keys.index(x)+1, name_struct)]

In [9]:
first_name_ds = first_name_struct.apply(lambda x:transform_structure(x))
last_name_ds = last_name_struct.apply(lambda x:transform_structure(x))

In [10]:
len(struct_dict_keys)

666

In [11]:
def transform_labels(x):
    y = np.zeros(len(ethnic_keys))
    y[ethnic_keys.index(x)]=1
    return y

labels = np.array(list(map(lambda x: transform_labels(x),ethnic_series)))

In [12]:
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Bidirectional
from keras.layers import TimeDistributed
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from tflearn.data_utils import to_categorical, pad_sequences

Using TensorFlow backend.

In [13]:
first_name_ds

0          [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
1                                         [15, 16, 17, 18]
2                                  [7, 19, 20, 21, 22, 23]
3                                 [24, 25, 11, 26, 21, 14]
4                         [27, 28, 29, 30, 31, 32, 33, 34]
5                                 [35, 36, 37, 38, 39, 34]
6                                     [40, 41, 42, 13, 14]
7        [7, 43, 44, 10, 14, 7, 11, 45, 46, 47, 22, 48,...
8                               [27, 50, 25, 8, 51, 2, 52]
9                                 [53, 54, 55, 56, 57, 58]
10                                    [15, 59, 60, 61, 62]
11                         [63, 21, 22, 64, 65, 2, 13, 14]
12                             [7, 66, 67, 68, 69, 41, 70]
13                                          [7, 11, 3, 58]
14                                 [7, 31, 71, 72, 73, 18]
15                                 [7, 31, 71, 72, 73, 18]
16                    [63, 74, 75, 36, 76, 77, 72, 73, 18]
17                                     [7, 11, 45, 78, 79]
18                        [63, 80, 81, 54, 82, 83, 80, 58]
19                                 [84, 85, 86, 3, 87, 88]
20                        [89, 90, 21, 43, 33, 21, 31, 91]
21                             [15, 16, 5, 92, 55, 33, 34]
22                                [24, 93, 36, 17, 94, 58]
23                                     [7, 37, 95, 80, 58]
24                              [1, 39, 80, 86, 3, 96, 70]
25       [24, 93, 97, 98, 86, 13, 14, 7, 11, 99, 100, 2...
26                           [63, 21, 66, 103, 104, 60, 6]
27                                 [63, 21, 66, 57, 4, 14]
28                                [40, 30, 22, 48, 10, 14]
29                      [24, 93, 36, 76, 72, 105, 106, 88]
                               ...
44537              [295, 296, 32, 381, 128, 113, 115, 286]
44538     [295, 296, 97, 120, 23, 158, 159, 168, 115, 286]
44539                                 [295, 296, 287, 212]
44540          [295, 296, 97, 120, 115, 449, 270, 153, 62]
44541     [295, 296, 97, 120, 115, 433, 230, 287, 249, 23]
44542                   [295, 413, 86, 3, 4, 22, 115, 286]
44543                                   [295, 296, 97, 62]
44544                        [295, 218, 198, 3, 4, 22, 23]
44545          [295, 218, 249, 23, 125, 230, 287, 249, 23]
44546               [295, 38, 62, 295, 296, 128, 202, 212]
44547          [295, 296, 36, 245, 385, 230, 287, 249, 23]
44548                  [295, 413, 367, 159, 168, 115, 286]
44549                   [295, 296, 97, 120, 309, 248, 212]
44550                        [136, 133, 120, 200, 330, 70]
44551                     [136, 355, 33, 80, 326, 257, 70]
44552             [136, 137, 37, 218, 371, 32, 56, 41, 70]
44553                             [136, 257, 443, 270, 58]
44554                     [136, 257, 202, 204, 61, 98, 58]
44555                        [136, 410, 300, 129, 257, 70]
44556                        [136, 133, 120, 362, 270, 58]
44557                         [136, 133, 98, 255, 270, 58]
44558                         [136, 133, 98, 255, 270, 58]
44559                                   [136, 133, 98, 58]
44560                 [136, 355, 367, 300, 60, 93, 32, 58]
44561                   [53, 102, 282, 137, 5, 93, 32, 58]
44562                  [53, 143, 390, 300, 60, 93, 32, 58]
44563                      [53, 210, 199, 54, 82, 321, 70]
44564                     [53, 102, 282, 137, 19, 300, 70]
44565                                    [63, 21, 19, 175]
44566                [63, 21, 66, 57, 4, 22, 163, 207, 62]
Name: First, Length: 44567, dtype: object

In [14]:
from keras.layers import Input
from keras.models import Model

# max sequence length
seq_length = 100
# multi input with single output

# first name input
first_name_input = Input(shape=(len(struct_dict_keys),),name='first_name_input')
last_name_input = Input(shape=(len(struct_dict_keys),),name='last_name_input')

# first tensor for first name
first_name_l = Dense(units=1000)(first_name_input)
last_name_l = Dense(units=1000)(last_name_input)

# merge the two layer together
x = keras.layers.concatenate([first_name_l,last_name_l])

# stack dense network for memory
x = Dense(1000, activation='relu')(x)
x = Dense(500, activation='relu')(x)
output_l = Dense(len(ethnic_keys),activation='softmax')(x)

model = Model(inputs=[first_name_input, last_name_input], outputs=[output_l])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [15]:
first_name_ds_mat = np.zeros((len(first_name_ds),len(struct_dict_keys)),dtype=np.int32)
for i,x in enumerate(first_name_ds):
    for y in x:
        first_name_ds_mat[i,y-1]+=1
last_name_ds_mat = np.zeros((len(last_name_ds),len(struct_dict_keys)),dtype=np.int32)
for i,x in enumerate(last_name_ds):
    for y in x:
        last_name_ds_mat[i,y-1]+=1

In [16]:
model.summary()
first_trainX = first_name_ds_mat[trainIndex]
first_testX = first_name_ds_mat[testIndex]
last_trainX = last_name_ds_mat[trainIndex]
last_testX = last_name_ds_mat[testIndex]
trainY = labels[trainIndex]
testY = labels[testIndex]

#trainX =np.array([to_categorical(x,nb_classes=len(struct_dict_keys)+1) for x in trainX])
#testX =np.array([to_categorical(x,nb_classes=len(struct_dict_keys)+1) for x in testX])

batch_size = 1000
input_dim = 50 

for x in range(10):
    model.fit([first_trainX, last_trainX],trainY,epochs=1,batch_size=1000)
    scores = model.evaluate([first_testX, last_testX],testY,verbose=0)
    print("Accuracy: %.2f%%" %(scores[1]*100))

____________________________________________________________________________________________________
Layer (type)                     Output Shape          Param #     Connected to
====================================================================================================
first_name_input (InputLayer)    (None, 666)           0
____________________________________________________________________________________________________
last_name_input (InputLayer)     (None, 666)           0
____________________________________________________________________________________________________
dense_1 (Dense)                  (None, 1000)          667000      first_name_input[0][0]
____________________________________________________________________________________________________
dense_2 (Dense)                  (None, 1000)          667000      last_name_input[0][0]
____________________________________________________________________________________________________
concatenate_1 (Concatenate)      (None, 2000)          0           dense_1[0][0]
                                                                   dense_2[0][0]
____________________________________________________________________________________________________
dense_3 (Dense)                  (None, 1000)          2001000     concatenate_1[0][0]
____________________________________________________________________________________________________
dense_4 (Dense)                  (None, 500)           500500      dense_3[0][0]
____________________________________________________________________________________________________
dense_5 (Dense)                  (None, 23)            11523       dense_4[0][0]
====================================================================================================
Total params: 3,847,023
Trainable params: 3,847,023
Non-trainable params: 0
____________________________________________________________________________________________________
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 1.2430 - acc: 0.6546
Accuracy: 79.21%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.5670 - acc: 0.8280
Accuracy: 82.47%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.4248 - acc: 0.8688
Accuracy: 83.91%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.3273 - acc: 0.8985
Accuracy: 84.44%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.2471 - acc: 0.9235
Accuracy: 85.14%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.1781 - acc: 0.9460
Accuracy: 84.93%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.1181 - acc: 0.9665
Accuracy: 85.02%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.0682 - acc: 0.9831
Accuracy: 84.92%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.0403 - acc: 0.9911
Accuracy: 85.33%
Epoch 1/1
35653/35653 [==============================] - 20s - loss: 0.0211 - acc: 0.9971
Accuracy: 85.34%

In [71]:
for x in range(10):
    model.fit([first_trainX, last_trainX],trainY,epochs=1,batch_size=1000)
    scores = model.evaluate([first_testX, last_testX],testY,verbose=0)
    print("Accuracy: %.2f%%" %(scores[1]*100))

Epoch 1/1
35653/35653 [==============================] - 186s - loss: 0.0116 - acc: 0.9991
Accuracy: 85.43%
Epoch 1/1
35653/35653 [==============================] - 184s - loss: 0.0069 - acc: 0.9994
Accuracy: 85.30%
Epoch 1/1
35653/35653 [==============================] - 184s - loss: 0.0040 - acc: 0.9998
Accuracy: 85.37%
Epoch 1/1
35653/35653 [==============================] - 187s - loss: 0.0023 - acc: 1.0000
Accuracy: 85.66%
Epoch 1/1
35653/35653 [==============================] - 186s - loss: 0.0016 - acc: 1.0000
Accuracy: 85.66%
Epoch 1/1
35653/35653 [==============================] - 182s - loss: 0.0013 - acc: 1.0000
Accuracy: 85.70%
Epoch 1/1
35653/35653 [==============================] - 190s - loss: 0.0011 - acc: 1.0000
Accuracy: 85.69%
Epoch 1/1
35653/35653 [==============================] - 186s - loss: 9.3359e-04 - acc: 1.0000
Accuracy: 85.75%
Epoch 1/1
35653/35653 [==============================] - 189s - loss: 8.2290e-04 - acc: 1.0000
Accuracy: 85.74%
Epoch 1/1
35653/35653 [==============================] - 186s - loss: 7.3335e-04 - acc: 1.0000
Accuracy: 85.76%

# save this model atlhouth there is something wrong with the features
# I did not lowercase the text :(
model_json = model.to_json()
with open('model-keras-w3-bigram.json','w') as f:
    f.write(model_json)
#save the last weight
model.save_weights('model-keras-w3-bigram-10.h5')

In [17]:
def trans_name(name):
    name = name.lower()
    # transform space into underscore
    name = '_'+name.replace(' ','_')+'_'
    #transform the name into sequence structure
    ext_name = extract_structure(name)
    trans_name = transform_structure(ext_name)
    name_ds_mat = np.zeros((1,len(struct_dict_keys)),dtype=np.int32)
    for i,x in enumerate(trans_name):
        name_ds_mat[0,x-1]+=1
    #trans_name = pad_sequences([trans_name], maxlen=50,value=0.)
    return name_ds_mat

def predict_ethnicity(fname,lname):
    # lower case the name
    fnamex = trans_name(fname)
    lnamex = trans_name(lname)
    pred = model.predict([np.array(fnamex),np.array(lnamex)])
    pred_class = np.argsort(pred[0])[::-1]
    return_item = []
    for x in np.argsort(pred[0])[::-1]:
        return_item.append((ethnic_keys[x],pred[0][x]))
    return return_item

In [22]:
predict_ethnicity('Shinji','Kagawa')
#trans_name('Nikolaus')

[('japanese', 1.0),
 ('indian', 5.0325966e-08),
 ('african', 1.4800873e-08),
 ('indonesian', 8.8743637e-11),
 ('arab', 8.7172121e-13),
 ('korean', 3.7096197e-13),
 ('slav', 1.1345596e-13),
 ('german', 5.7383182e-14),
 ('thai', 5.4225884e-14),
 ('chinese', 2.72746e-14),
 ('english', 3.5170739e-15),
 ('israeli', 1.5735749e-15),
 ('french', 2.2933817e-17),
 ('turkish', 1.2016868e-17),
 ('greek', 1.1056446e-17),
 ('nordic', 7.038771e-18),
 ('hispanic', 6.3994195e-18),
 ('hungarian', 5.473129e-18),
 ('vietnamese', 5.199001e-18),
 ('dutch', 4.4446176e-18),
 ('baltic', 4.1480262e-18),
 ('romanian', 1.9028031e-18),
 ('italian', 1.5801921e-22)]

In [8]:
# embedd the structure vocabulary using text embedding and reduce the dimensionality

# convert the names into word structure vector
struct_dict_keys = list(struct_dict.keys())

def transform_structure(name_struct):
    list_structure = []
    for x in name_struct:
        try:
            list_structure.append(struct_dict_keys.index(x)+1)
        except BaseException:
            list_structure.append(0)
    #add pading 0 for structure less than num_input
    #for i in range(len(list_structure),timesteps):
    #    list_structure.append(0)
    return list_structure   
    #return [*map(lambda x:struct_dict_keys.index(x)+1, name_struct)]

#data_source = full_name_struct.apply(lambda x: transform_structure(x))

In [9]:
def transform_labels(x):
    y = np.zeros(len(ethnic_keys))
    y[ethnic_keys.index(x)]=1
    return y

labels = np.array(list(map(lambda x: transform_labels(x),ethnic_series)))

In [26]:
# using tflearn make the graph creation simple
import tensorflow as tf
import tflearn
from tflearn.data_utils import to_categorical, pad_sequences
from sklearn.model_selection import train_test_split

# separate train and training set
trainX, testX, trainY, testY = train_test_split(data_source,[ethnic_keys.index(x) for x in ethnic_series],test_size = 0.2)

trainX = pad_sequences(trainX, maxlen=50,value=0.)
testX = pad_sequences(testX,maxlen=50,value=0.)
# Converting labels to binary vectors
trainY = to_categorical(trainY,nb_classes=len(ethnic_keys))
testY = to_categorical(testY,nb_classes=len(ethnic_keys))

import pickle
with open('train_test_fix.pickle','wb') as f:
    pickle.dump((trainX,trainY,testX,testY,ethnic_keys,struct_dict_keys),f)

In [16]:
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Bidirectional
from keras.layers import TimeDistributed
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

import pickle

with open('train_test_fix.pickle', 'rb') as f:
    trainX,trainY,testX,testY,ethnic_keys,struct_dict_keys = pickle.load(f)
    #aha = pickle.load(f)

#with open('traintest-smote.pickle','rb') as f:
#    train_res,test_res = pickle.load(f)

with open('ethnic_keys.pickle','rb') as f:
    name_struct_keys,ethnic_keys = pickle.load(f)
        
embedding_vector_length = 1000
lstm_layer = 1000
max_sequence = 50

In [ ]:
# convert categorical to binary crossentropy
#trainY = np.array([np.where(x>0)[0][0] for x in trainY])
#testY = np.array([np.where(x>0)[0][0] for x in testY])

#test_res

In [2]:
model = Sequential()
model.add(Embedding(len(name_struct_keys)+1,embedding_vector_length,input_length=max_sequence))
model.add(Conv1D(filters=embedding_vector_length,kernel_size=3,padding='same',activation='relu'))
#model.add(MaxPooling1D(pool_size=2))
#model.add(LSTM(lstm_layer,dropout=0.8))
model.add(Bidirectional(LSTM(max_sequence*2,return_sequences=False),input_shape=(max_sequence,1)))
#model.add(TimeDistributed(keras.layers.Dense(len(ethnic_keys),activation='softmax')))
model.add(keras.layers.Dense(len(ethnic_keys),activation='softmax'))
#model.add(keras.layers.Dense(len(ethnic_keys),activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())
for x in range(10):
    model.fit(trainX,trainY,epochs=1,batch_size=1000)
    scores = model.evaluate(testX,testY,verbose=0)
    print("Accuracy: %.2f%%" %(scores[1]*100))

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 50, 1000)          62696000
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 50, 1000)          3001000
_________________________________________________________________
bidirectional_1 (Bidirection (None, 200)               880800
_________________________________________________________________
dense_1 (Dense)              (None, 23)                4623
=================================================================
Total params: 66,582,423
Trainable params: 66,582,423
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/1
35653/35653 [==============================] - 778s - loss: 1.6879 - acc: 0.5265
Accuracy: 75.88%
Epoch 1/1
35653/35653 [==============================] - 796s - loss: 0.5197 - acc: 0.8582
Accuracy: 84.37%
Epoch 1/1
35653/35653 [==============================] - 817s - loss: 0.2142 - acc: 0.9437
Accuracy: 85.12%
Epoch 1/1
35653/35653 [==============================] - 779s - loss: 0.0989 - acc: 0.9755
Accuracy: 85.57%
Epoch 1/1
35653/35653 [==============================] - 29131s - loss: 0.0476 - acc: 0.9905
Accuracy: 85.63%
Epoch 1/1
35653/35653 [==============================] - 4804s - loss: 0.0258 - acc: 0.9953
Accuracy: 85.55%
Epoch 1/1
35653/35653 [==============================] - 35875s - loss: 0.0138 - acc: 0.9980
Accuracy: 85.79%
Epoch 1/1
35653/35653 [==============================] - 745s - loss: 0.0090 - acc: 0.9988
Accuracy: 85.69%
Epoch 1/1
35653/35653 [==============================] - 742s - loss: 0.0068 - acc: 0.9992
Accuracy: 85.82%
Epoch 1/1
35653/35653 [==============================] - 741s - loss: 0.0048 - acc: 0.9996
Accuracy: 85.62%

In [4]:
testX

array([[  112,  1331,  1332, ...,     0,     0,     0],
       [  251,   252,   232, ...,     0,     0,     0],
       [ 4633, 11731, 23123, ...,     0,     0,     0],
       ...,
       [  696,   697,   698, ...,     0,     0,     0],
       [   25,    26,  5195, ...,     0,     0,     0],
       [ 8671,  8672,  6568, ...,     0,     0,     0]], dtype=int32)

# save this model atlhouth there is something wrong with the features
# I did not lowercase the text :(
model_json = model.to_json()
with open('model-keras-embed-bilstm-womaxpool.json','w') as f:
    f.write(model_json)
#save the last weight
model.save_weights('model-keras-embed-bilstm-womaxpool-10.h5')

In [12]:
from keras.models import model_from_json
from keras import backend as K

# compute the accuracy
def f1_score(y_true, y_pred):

    # Count positive samples.
    c1 = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    c2 = K.sum(K.round(K.clip(y_pred, 0, 1)))
    c3 = K.sum(K.round(K.clip(y_true, 0, 1)))

    # If there are no true samples, fix the F1 score at 0.
    if c3 == 0:
        return 0

    # How many selected items are relevant?
    precision = c1 / c2
    #print(precision)

    # How many relevant items are selected?
    recall = c1 / c3
    #print(recall)

    # Calculate f1_score
    f1_score = 2 * (precision * recall) / (precision + recall)
    return f1_score

def precision(y_true, y_pred):

    # Count positive samples.
    c1 = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    c2 = K.sum(K.round(K.clip(y_pred, 0, 1)))
    c3 = K.sum(K.round(K.clip(y_true, 0, 1)))

    # If there are no true samples, fix the F1 score at 0.
    if c3 == 0:
        return 0

    # How many selected items are relevant?
    precision = c1 / c2

    return precision


def recall(y_true, y_pred):

    # Count positive samples.
    c1 = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    c3 = K.sum(K.round(K.clip(y_true, 0, 1)))

    # If there are no true samples, fix the F1 score at 0.
    if c3 == 0:
        return 0

    recall = c1 / c3

    return recall

# load model
# load json and create model
json_file = open('model-keras-embed-bilstm-womaxpool.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
#                               ,custom_objects= {'f1_score': f1_score})
loaded_model.load_weights("model-keras-embed-bilstm-womaxpool-10.h5")

loaded_model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy',f1_score,precision,recall])

In [18]:
scores = loaded_model.evaluate(testX,testY,verbose=0)

In [19]:
print('Accuracy: {}, F1: {}, Precision: {}, Recal: {}'.format(scores[1],scores[2],scores[3],scores[4]))

Accuracy: 0.8561812878216707, F1: 0.8601400889915978, Precision: 0.8757469038779302, Recal: 0.845523895023381

In [181]:
from tflearn.data_utils import to_categorical, pad_sequences

# transform prediction
# given name compute the prediction
def predict_ethnicity(name):
    # lower case the name
    name = name.lower()
    # transform space into underscore
    name = '_'+name.replace(' ','_')+'_'
    #transform the name into sequence structure
    ext_name = extract_structure(name)
    trans_name = transform_structure(ext_name)
    trans_name = pad_sequences([trans_name], maxlen=50,value=0.)
    pred = loaded_model.predict(trans_name)
    pred_class = np.argsort(pred[0])[::-1]
    return_item = []
    for x in np.argsort(pred[0])[::-1]:
        return_item.append((ethnic_keys[x],pred[0][x]))
    return return_item

name='helen lamothe'
ext_name = extract_structure(name)
#print(ext_name)
trans_name = transform_structure(ext_name)
#trans_name
pad_sequences([trans_name], maxlen=50,value=0.)
#extract_structure('Nikolaus Nova')
#transform_structure('Robert Nova')
ethnic_prob = predict_ethnicity('Filho  Elias Abdalla')
#ethnic_prob

In [132]:
test = loaded_model.predict(trainX[10].reshape(1,50))
test

array([[  1.22544670e-03,   2.45175033e-05,   5.54050894e-06,
          3.56604069e-05,   1.31730601e-04,   1.58663862e-03,
          9.95586514e-01,   3.65224201e-04,   4.18016425e-05,
          1.64734403e-04,   3.29397808e-05,   1.42851750e-05,
          5.77516516e-07,   3.13429664e-05,   1.98912196e-04,
          5.65968139e-06,   4.63458673e-06,   4.45792568e-04,
          5.28864875e-05,   2.15678101e-05,   8.53615438e-06,
          4.57901763e-07,   1.44505730e-05]], dtype=float32)

In [133]:
np.argsort(test)[0][::-1]

array([ 6,  5,  0, 17,  7, 14,  9,  4, 18,  8,  3, 10, 13,  1, 19, 22, 11,
       20, 15,  2, 16, 12, 21])

In [134]:
np.where(trainY[10]==1)

(array([6]),)

In [151]:
name='_helen__lamothe_'
ext_name = extract_structure(name)
#print(ext_name)
trans_name = transform_structure(ext_name)
#trans_name
pad_sequences([trans_name], maxlen=50,value=0.)

array([[    0,     0,     0,  2304,  2305,     0,     0,     0,     0,
         4088, 15559,  2523, 15102,     0,     0,     0,    24,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0]], dtype=int32)

In [191]:
predict_ethnicity('harry potter')

[('ITALIAN', 0.52735686),
 ('INDIAN', 0.30269179),
 ('KOREAN', 0.097788125),
 ('JAPANESE', 0.017470013),
 ('ROMANIAN', 0.015210837),
 ('TURKISH', 0.014220745),
 ('HISPANIC', 0.0092350421),
 ('GERMAN', 0.0046770978),
 ('BALTIC', 0.0032188322),
 ('ARAB', 0.0028918688),
 ('ISRAELI', 0.0022467086),
 ('GREEK', 0.0014537659),
 ('SLAV', 0.00046977124),
 ('NORDIC', 0.00024971511),
 ('HUNGARIAN', 0.0002173665),
 ('DUTCH', 0.00021363674),
 ('INDONESIAN', 0.00019762212),
 ('VIETNAMESE', 9.9613972e-05),
 ('AFRICAN', 3.4369114e-05),
 ('CHINESE', 3.3702971e-05),
 ('ENGLISH', 1.7328795e-05),
 ('FRENCH', 4.1550811e-06),
 ('THAI', 9.4588233e-07)]

In [175]:
ethnic_keys[15]

'ISRAELI'

In [71]:
ethnea_df['First']+ethnea_df['Last']+ethnea_df['Ethnea']

0                           _Elias_Abdalla__Filho_HISPANIC
1                                  _Jad__Bou_Abdallah_ARAB
2                                  _Ayman__Abdel_Aziz_ARAB
3                                  _Salma__Abdelmoula_ARAB
4                                     _Ibrahim__Abdou_ARAB
5                             _Hazem__Abou_El_Fettouh_ARAB
6                                     _Rola__Aboutaam_ARAB
7        _Aida_Alexandra__Alvim_de_Abreu_Silva_Rodrigue...
8             _Isabel__Cristina_Affonso_Scaletsky_HISPANIC
9                                _Tsiri__Agbenyega_AFRICAN
10                     _Jose__Maria_Aguado_Garcia_HISPANIC
11                      _Manuela__Aguilar_Guisado_HISPANIC
12                         _Arturo__Aguillon_Luna_HISPANIC
13                                   _Ali__Ahmadzadeh_ARAB
14                                    _Ahmed__Ibrahim_ARAB
15                                    _Ahmed__Letaief_ARAB
16                           _Mohammed__Shakeel_Ahmed_ARAB
17                              _Alev__Aksoy_Dogan_TURKISH
18                    _Mitsumi__Nakatsukasa_Akune_JAPANESE
19                                   _Filiz__Akyuz_TURKISH
20                                _Omaimah__Al_Gohary_ARAB
21                                  _Jassim__Al_Jedah_ARAB
22                                  _Shadi__Al_Khatib_ARAB
23                                   _Azmi__Al_Najjar_ARAB
24                           _Emilio__Alba_Conejo_HISPANIC
25                     _Sheila_Alcantara__Llaguno_HISPANIC
26                               _Marcos__Alcocer_HISPANIC
27                       _Maria__Grazia_Alessandri_ITALIAN
28                                  _Randa__Ali_Labib_ARAB
29                        _Shameez__Allie_Hamdulay_AFRICAN
                               ...
44537                                _Zhihong__Liu_CHINESE
44538                              _Zhen_ying__Liu_CHINESE
44539                                    _Zhu__Liu_CHINESE
44540                               _Zhengjie__Liu_CHINESE
44541                              _Zhengchun__Liu_CHINESE
44542                                _Ziliang__Liu_CHINESE
44543                                    _Zhe__Liu_CHINESE
44544                                 _Zulian__Liu_CHINESE
44545                               _Zun_chun__Liu_CHINESE
44546                                _Ze_zhou__Liu_CHINESE
44547                               _Zhaochun__Liu_CHINESE
44548                                 _ziying__Liu_CHINESE
44549                                 _zhenyu__Liu_CHINESE
44550                              _kenzo__Tanaka_JAPANESE
44551                             _kimiko__Tanaka_JAPANESE
44552                           _kazuhiro__Tanaka_JAPANESE
44553                               _koji__Tanaka_JAPANESE
44554                             _Kousei__Tanaka_JAPANESE
44555                              _Kyoko__Tanaka_JAPANESE
44556                              _Kenji__Tanaka_JAPANESE
44557                              _keiji__Tanaka_JAPANESE
44558                              _keiji__Tanaka_JAPANESE
44559                                _Kei__Tanaka_JAPANESE
44560                            _kiyoshi__Tanaka_JAPANESE
44561                            _takashi__Sasaki_JAPANESE
44562                            _toyoshi__Sasaki_JAPANESE
44563                             _tetsuo__Sasaki_JAPANESE
44564                             _takayo__Sasaki_JAPANESE
44565                                    _may__Haddad_ARAB
44566                             _Marianne__Haddad_FRENCH
Length: 44567, dtype: object