In [1]:
from __future__ import division, print_function, absolute_import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

/Volumes/HD-500GB/Users/nikolausn/anaconda3/lib/python3.6/site-packages/matplotlib/font_manager.py:280: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [2]:
ethnea_df = pd.read_csv('names_ethnea_genni_country_sample.csv')
ethnea_df

,AUID,Last,First,Ethnea,Genni,PubCountry
0,12872768_1,_Filho_,_Elias_Abdalla_,HISPANIC,M,Brazil
1,12565879_3,_Bou_Abdallah_,_Jad_,ARAB,M,France
2,17569133_1,_Abdel_Aziz_,_Ayman_,ARAB,M,USA
3,11213157_2,_Abdelmoula_,_Salma_,ARAB,F,Tunisia
4,11439058_1,_Abdou_,_Ibrahim_,ARAB,M,Egypt
5,10919608_3,_Abou_El_Fettouh_,_Hazem_,ARAB,M,USA
6,17314740_3,_Aboutaam_,_Rola_,ARAB,F,France
7,16564217_2,_Alvim_de_Abreu_Silva_Rodrigues_,_Aida_Alexandra_,HISPANIC,F,Brazil
8,6339395_2,_Cristina_Affonso_Scaletsky_,_Isabel_,HISPANIC,F,Brazil
9,7796089_2,_Agbenyega_,_Tsiri_,AFRICAN,-,Ghana
10,5473023_2,_Maria_Aguado_Garcia_,_Jose_,HISPANIC,M,Spain
11,15153355_4,_Aguilar_Guisado_,_Manuela_,HISPANIC,F,Spain
12,11981185_4,_Aguillon_Luna_,_Arturo_,HISPANIC,M,USA
13,12554913_2,_Ahmadzadeh_,_Ali_,ARAB,M,Iran
14,10066026_5,_Ibrahim_,_Ahmed_,ARAB,M,UnitedArabEmirates
15,17642770_2,_Letaief_,_Ahmed_,ARAB,M,Tunisia
16,14766995_2,_Shakeel_Ahmed_,_Mohammed_,ARAB,M,USA
17,16343417_1,_Aksoy_Dogan_,_Alev_,TURKISH,F,Turkey
18,3866040_3,_Nakatsukasa_Akune_,_Mitsumi_,JAPANESE,-,Japan
19,12663244_3,_Akyuz_,_Filiz_,TURKISH,F,Turkey
20,2830628_1,_Al_Gohary_,_Omaimah_,ARAB,F,SaudiArabia
21,12113661_3,_Al_Jedah_,_Jassim_,ARAB,M,Qatar
22,3104205_7,_Al_Khatib_,_Shadi_,ARAB,-,India
23,7520609_3,_Al_Najjar_,_Azmi_,ARAB,M,France
24,927746_1,_Alba_Conejo_,_Emilio_,HISPANIC,M,Spain
25,18451155_4,_Llaguno_,_Sheila_Alcantara_,HISPANIC,F,USA
26,9431676_4,_Alcocer_,_Marcos_,HISPANIC,M,UK
27,3720520_1,_Grazia_Alessandri_,_Maria_,ITALIAN,F,Italy
28,10480445_2,_Ali_Labib_,_Randa_,ARAB,F,Egypt
29,12636048_1,_Allie_Hamdulay_,_Shameez_,AFRICAN,-,SouthAfrica
...,...,...,...,...,...,...
44537,12641914_1,_Liu_,_Zhihong_,CHINESE,-,China
44538,16892144_4,_Liu_,_Zhen_ying_,CHINESE,-,China
44539,15566960_5,_Liu_,_Zhu_,CHINESE,-,China
44540,12828461_3,_Liu_,_Zhengjie_,CHINESE,-,USA
44541,12726928_3,_Liu_,_Zhengchun_,CHINESE,-,China
44542,17802886_5,_Liu_,_Ziliang_,CHINESE,-,China
44543,18032929_3,_Liu_,_Zhe_,CHINESE,-,China
44544,16690641_1,_Liu_,_Zulian_,CHINESE,-,UK
44545,17554931_2,_Liu_,_Zun_chun_,CHINESE,-,China
44546,18975769_5,_Liu_,_Ze_zhou_,CHINESE,-,China
44547,19458823_2,_Liu_,_Zhaochun_,CHINESE,-,China
44548,8734067_3,_Liu_,_ziying_,CHINESE,M,USA
44549,9706530_4,_Liu_,_zhenyu_,CHINESE,M,China
44550,6068528_4,_Tanaka_,_kenzo_,JAPANESE,M,Japan
44551,180046_3,_Tanaka_,_kimiko_,JAPANESE,F,USA
44552,1942669_3,_Tanaka_,_kazuhiro_,JAPANESE,M,Japan
44553,9571188_3,_Tanaka_,_koji_,JAPANESE,M,Japan
44554,11071249_4,_Tanaka_,_Kousei_,JAPANESE,M,Japan
44555,12828613_4,_Tanaka_,_Kyoko_,JAPANESE,F,Japan
44556,19073144_1,_Tanaka_,_Kenji_,JAPANESE,M,Japan
44557,8449402_2,_Tanaka_,_keiji_,JAPANESE,M,Japan
44558,10671491_5,_Tanaka_,_keiji_,JAPANESE,M,Japan
44559,18283803_5,_Tanaka_,_Kei_,JAPANESE,-,Japan
44560,8913105_4,_Tanaka_,_kiyoshi_,JAPANESE,M,Japan
44561,6678271_2,_Sasaki_,_takashi_,JAPANESE,M,Japan
44562,3097163_3,_Sasaki_,_toyoshi_,JAPANESE,M,Japan
44563,3800425_1,_Sasaki_,_tetsuo_,JAPANESE,M,Japan
44564,9714755_2,_Sasaki_,_takayo_,JAPANESE,F,Japan
44565,7880090_2,_Haddad_,_may_,ARAB,-,SaudiArabia
44566,16865091_1,_Haddad_,_Marianne_,FRENCH,F,France

In [5]:
# Start doing DNN for the name embedding
# combine first name and last name
full_name = ethnea_df['First'].str.lower()+ethnea_df['Last'].str.lower()

In [6]:
def extract_structure(word,n_char=4):
    x_struct = []
    word_len = len(word) + n_char
    n_char-=1
    counter = 0
    for i in range(word_len):
        end = i+1
        start = (i - n_char) if (i - n_char) > 0 else 0
        if word[start:end]!='_':
            x_struct.append(word[start:end])
    return x_struct

#extract_structure('_Elias_Abdalla__Filho_')
full_name_struct = full_name.apply(lambda x: extract_structure(x))

struct_dict = {}
for name_struct_i in full_name_struct:
    for struct_j in name_struct_i:
        if struct_j not in struct_dict:
            struct_dict[struct_j]=0
        struct_dict[struct_j]+=1

In [7]:
len(struct_dict.keys())

48972

In [22]:
struct_dict_keys = list(struct_dict.keys())
ethnic_series = ethnea_df['Ethnea'].str.lower()
ethnic_keys = list(np.unique(ethnic_series.values))

In [23]:
# embedd the structure vocabulary using text embedding and reduce the dimensionality

# convert the names into word structure vector
struct_dict_keys = list(struct_dict.keys())

def transform_structure(name_struct):
    list_structure = []
    for x in name_struct:
        list_structure.append(struct_dict_keys.index(x)+1)
    #add pading 0 for structure less than num_input
    #for i in range(len(list_structure),timesteps):
    #    list_structure.append(0)
    return list_structure   
    #return [*map(lambda x:struct_dict_keys.index(x)+1, name_struct)]

data_source = full_name_struct.apply(lambda x: transform_structure(x))

In [24]:
def transform_labels(x):
    y = np.zeros(len(ethnic_keys))
    y[ethnic_keys.index(x)]=1
    return y

labels = np.array(list(map(lambda x: transform_labels(x),ethnic_series)))

In [26]:
# using tflearn make the graph creation simple
import tensorflow as tf
import tflearn
from tflearn.data_utils import to_categorical, pad_sequences
from sklearn.model_selection import train_test_split

# separate train and training set
trainX, testX, trainY, testY = train_test_split(data_source,[ethnic_keys.index(x) for x in ethnic_series],test_size = 0.2)

trainX = pad_sequences(trainX, maxlen=50,value=0.)
testX = pad_sequences(testX,maxlen=50,value=0.)
# Converting labels to binary vectors
trainY = to_categorical(trainY,nb_classes=len(ethnic_keys))
testY = to_categorical(testY,nb_classes=len(ethnic_keys))

In [28]:
import pickle
with open('train_test_fix.pickle','wb') as f:
    pickle.dump((trainX,trainY,testX,testY,ethnic_keys,struct_dict_keys),f)

In [29]:
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Bidirectional
from keras.layers import TimeDistributed
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

import pickle

with open('train_test_fix.pickle', 'rb') as f:
    trainX,trainY,testX,testY,ethnic_keys,struct_dict_keys = pickle.load(f)

#with open('traintest-smote.pickle','rb') as f:
#    train_res,test_res = pickle.load(f)

with open('ethnic_keys.pickle','rb') as f:
    name_struct_keys,ethnic_keys = pickle.load(f)
        
embedding_vector_length = 1000
lstm_layer = 1000
max_sequence = 50

Using TensorFlow backend.

In [ ]:
# convert categorical to binary crossentropy
#trainY = np.array([np.where(x>0)[0][0] for x in trainY])
#testY = np.array([np.where(x>0)[0][0] for x in testY])

#test_res

In [30]:
model = Sequential()
model.add(Embedding(len(name_struct_keys)+1,embedding_vector_length,input_length=max_sequence))
model.add(Conv1D(filters=embedding_vector_length,kernel_size=3,padding='same',activation='relu'))
model.add(MaxPooling1D(pool_size=2))
#model.add(LSTM(lstm_layer,dropout=0.8))
model.add(Bidirectional(LSTM(max_sequence*2,return_sequences=False),input_shape=(max_sequence,1)))
#model.add(TimeDistributed(keras.layers.Dense(len(ethnic_keys),activation='softmax')))
model.add(keras.layers.Dense(len(ethnic_keys),activation='softmax'))
#model.add(keras.layers.Dense(len(ethnic_keys),activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())
for x in range(10):
    model.fit(trainX,trainY,epochs=1,batch_size=1000)
    scores = model.evaluate(testX,testY,verbose=0)
    print("Accuracy: %.2f%%" %(scores[1]*100))

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 50, 1000)          62696000
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 50, 1000)          3001000
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 25, 1000)          0
_________________________________________________________________
bidirectional_1 (Bidirection (None, 200)               880800
_________________________________________________________________
dense_1 (Dense)              (None, 23)                4623
=================================================================
Total params: 66,582,423
Trainable params: 66,582,423
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/1
35653/35653 [==============================] - 662s - loss: 1.6547 - acc: 0.5389
Accuracy: 76.87%
Epoch 1/1
35653/35653 [==============================] - 661s - loss: 0.4786 - acc: 0.8715
Accuracy: 85.26%
Epoch 1/1
35653/35653 [==============================] - 650s - loss: 0.1770 - acc: 0.9562
Accuracy: 85.60%
Epoch 1/1
35653/35653 [==============================] - 649s - loss: 0.0735 - acc: 0.9841
Accuracy: 86.13%
Epoch 1/1
35653/35653 [==============================] - 648s - loss: 0.0327 - acc: 0.9942
Accuracy: 86.01%
Epoch 1/1
35653/35653 [==============================] - 659s - loss: 0.0165 - acc: 0.9973
Accuracy: 86.20%
Epoch 1/1
35653/35653 [==============================] - 635s - loss: 0.0096 - acc: 0.9989
Accuracy: 86.28%
Epoch 1/1
35653/35653 [==============================] - 648s - loss: 0.0062 - acc: 0.9994
Accuracy: 86.39%
Epoch 1/1
35653/35653 [==============================] - 637s - loss: 0.0043 - acc: 0.9997
Accuracy: 86.35%
Epoch 1/1
35653/35653 [==============================] - 650s - loss: 0.0031 - acc: 0.9999
Accuracy: 86.26%

In [4]:
testX

array([[  112,  1331,  1332, ...,     0,     0,     0],
       [  251,   252,   232, ...,     0,     0,     0],
       [ 4633, 11731, 23123, ...,     0,     0,     0],
       ...,
       [  696,   697,   698, ...,     0,     0,     0],
       [   25,    26,  5195, ...,     0,     0,     0],
       [ 8671,  8672,  6568, ...,     0,     0,     0]], dtype=int32)

In [31]:
# save this model atlhouth there is something wrong with the features
# I did not lowercase the text :(
model_json = model.to_json()
with open('model-keras-embed-bilstm-fixlower.json','w') as f:
    f.write(model_json)
#save the last weight
model.save_weights('model-keras-embed-bilstm-fixlower-10.h5')